div.players {

  .add-player {
    padding-left: 15px;
    padding-right: 15px;
  }

  div.search-player-button {
    padding-top: 5px;
  }

  .player-list {
    & > md-card {
      width: 100%;
      .player-wl {
        color: lightslategrey;
      }
    }
  }
}