<div class="players">
    <md-content class="add-player" >
        <section layout="row">
            <md-input-container class="md-block md-title">
                <label>Battletag (Pez#21238)</label>
                <input ng-model="ctrl.player" type="text"/>
            </md-input-container>
            <div class="search-player-button">
                <md-button class="md-raised md-primary" ng-click="ctrl.player != null && ctrl.player !== '' && ctrl.searchPlayer(ctrl.player)">Keresés</md-button>
            </div>
        </section>
        <section layout="row">
            <div class="player-list" ng-if="ctrl.players.length">
                <md-card ng-repeat="player in ctrl.players" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{player.username}}</span>
                            <span class="md-subhead">W/L: <span class="player-wl">{{ ((player.games.quick.wins / player.games.quick.played) * 100).toFixed(1) }}%</span></span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img src="{{player.avatar}}" alt="avatar">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <md-list class="md-dense" flex>
                            <md-subheader class="md-no-sticky">Statisztikák</md-subheader>
                            <md-list-item class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3>Szint</h3>
                                    <p>{{ player.level }}</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3>Játékidő</h3>
                                    <p>QM: {{ player.playtime.quick }}</p>
                                </div>
                            </md-list-item>
                            <md-divider ></md-divider>
                        </md-list>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-href="{{ctrl.getPlayerProfileUrl(player)}}" target="_blank">Profil oldal</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </section>
    </md-content>
</div>